<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_key</key>
	<string>&amp;app_key=0faad009514db29599f58f81e7f51724</string>
	<key>app_id</key>
	<string>&amp;app_id=67a1e014</string>
</dict>
</plist>
